<<<<<<< HEAD
.invocation-failed,  .test-failed  { background-color: #DD0000; }
.invocation-percent, .test-percent { background-color: #006600; }
.invocation-passed,  .test-passed  { background-color: #00AA00; }
.invocation-skipped, .test-skipped { background-color: #CCCC00; }

.main-page {
  font-size: x-large;
}

=======
.invocation-failed,  .test-failed  { background-color: #DD0000; }
.invocation-percent, .test-percent { background-color: #006600; }
.invocation-passed,  .test-passed  { background-color: #00AA00; }
.invocation-skipped, .test-skipped { background-color: #CCCC00; }

.main-page {
  font-size: x-large;
}

>>>>>>> 98091ccf0dd34d76a190c469feb44daa9254f580
